<style>
    .modal-content {
        width: 300px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #343a40;
        padding: 20px;
    }

    .sidebar a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        transition: background-color 0.3s;
    }

    .sidebar a:hover {
        background-color: #474c50;
    }

    .content {
        margin-left: 200px;
        padding: 20px;
    }

    .sidebar .dropdown-menu {
        background-color: #474c50;
        border: none;
        margin-left: 20px;
    }

    .sidebar .dropdown-item {
        color: #fff;
        padding: 10px 20px;
        transition: background-color 0.3s;
    }

    .sidebar .dropdown-item:hover {
        background-color: #343a40;
    }
</style>
<div class="sidebar">
    <a href="/" class="active">Home</a>
    <a href="/nhan-vien/list">Trang Nhân Viên</a>
    <a href="/ban-hang/list">Bán hàng tại quầy</a>
    <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Quản lý Sản Phẩm
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/san-pham/list">Sản Phẩm</a></li>
            <li><a class="dropdown-item" href="/mau-sac/list">Màu Sắc</a></li>
            <li><a class="dropdown-item" href="/dong-sp/list">Dòng Sản Phẩm</a></li>
            <li><a class="dropdown-item" href="/nha-sx/list">Nhà Sản Xuất</a></li>
        </ul>
    </div>
<!--    <a href="#">Hóa Đơn</a>-->
    <a href="/khach-hang/listKh">Khách Hàng</a>
    <a href="/chuc-vu/listCv">Chức Vụ</a>
    <a href="#">Contact</a>
    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
</div>
