<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/san-pham/list(page=${currentPage - 1})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == i} ? 'active'"
                th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a class="page-link" th:href="@{/san-pham/list(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/san-pham/list(page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>