<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="headTag">
</div>
<div class="content ">
    <a class="btn btn-primary btn-sm" href="/san-pham/list">Quay lại trang sản phẩm</a>
    <h1>Chi tiết Sản Phẩm</h1>
    <div th:replace="headTagSanPham">
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã sản phẩm</th>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Tên nhà sản xuất</th>
                <th class="text-center">Màu</th>
                <th class="text-center">Dòng sản phẩm</th>
                <th class="text-center">Năm bảo hành</th>
                <th class="text-center">Mô tả</th>
                <th class="text-center">Số lượng tồn</th>
                <th class="text-center">Giá nhập</th>
                <th class="text-center">Giá bán</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, stat : ${chiTietSp}">
                <td class="text-center" th:text="${stat.count}"></td>
                <td class="text-center" th:text="${item.sanPham.ma}"></td>
                <td class="text-center" th:text="${item.sanPham.ten}"></td>
                <td class="text-center" th:text="${item.nsx.ten}"></td>
                <td class="text-center" th:text="${item.mauSac.ten}"></td>
                <td class="text-center" th:text="${item.dongSp.ten}"></td>
                <td class="text-center" th:text="${item.namBh}"></td>
                <td class="text-center" th:text="${item.moTa}"></td>
                <td class="text-center" th:text="${item.soLuongTon}"></td>
                <td class="text-center" th:text="${item.giaNhap}"></td>
                <td class="text-center" th:text="${item.giaBan}"></td>
                <td class="text-center">
                    <a class="btn btn-primary btn-sm" th:href="@{/san-pham/edit/{id}(id=${item.id})}">Edit</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/san-pham/deletespct/{id}(id=${item.id})}">Del</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="PhanTrangSanPhamChiTiet">
    </div>
    <footer class="bg-dark text-light py-3">
        <div class="container">
            <p>&copy; 2023 My Website</p>
        </div>
    </footer>
</div>
<div th:replace="LoginFooter">
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>