<div class="sidebar">
    <a href="/" class="active">Home</a>
    <a href="/nhan-vien/list">Trang Nhân Viên</a>
    <a href="/nhan-vien/list">Bán hàng tại quầy</a>
    <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Quản lý Sản Phẩm
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/san-pham/hien-thi">Sản Phẩm</a></li>
            <li><a class="dropdown-item" href="/mau-sac/list">Màu Sắc</a></li>
            <li><a class="dropdown-item" href="/dong-sp/list">Dòng Sản Phẩm</a></li>
            <li><a class="dropdown-item" href="/nha-sx/list">Nhà Sản Xuất</a></li>
        </ul>
    </div>
    <a href="#">Hóa Đơn</a>
    <a href="#">Contact</a>
    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
</div>
