<!doctype html>
<html>

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-6 offset-sm-3"
             style="border: 1px solid grey; border-radius: 10px; padding: 50px">
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>MARK</td>
                    <td>MAJOR</td>
                    <td>ACTION</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${list_student}">
                    <td th:text="${item.id}">ID</td>
                    <td th:text="${item.name}">NAME</td>
                    <td th:text="${item.mark}">NAME</td>
                    <td th:text="${item.major.id}">NAME</td>
                    <td>NAME</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>